<%- include("header") -%>
<section id="about-intro">
    <div class="container-fluid about-intro">
        <img src="/images/introio.png" class="img-fluid rounded" alt="" width="200px" height="200px" >
        <h1>hey, it's me, Pratik</h1>
        <h3>an aspiring web developer</h3>
    </div>
</section>

<section id="about-main">
    <div class="container-fluid about-main">
        <table class="table">
           
            <tbody>
              <tr>
                <td><img src="/images/python.png" class="img-fluid rounded" alt="" width="200px" height="200px" ></td>
                <td>
                    <div>
                        Well python was my intro to this world of software. I have already completed a certification course for python. And have worked with technologies like Flask, Tkinter, Pandas, and many more
                    </div>
                </td>
              </tr>
              <tr>
                <td>
                    <div>
                        I am currently aiming to be a full-stack developer equipped with MERN stack. Currently i have completed HTML, CSS, JS, Node, Express, EJS. And going towards databases and React
                    </div>
                </td>
                <td><img src="/images/coding.png" class="img-fluid rounded" alt="" width="200px" height="200px" ></td>
              </tr>
            </tbody>
          </table>
    </div>

</section>
<%- include("footer") -%>
